<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div id="content">
    <%- include('../partials/header'); %>
    <main id='#home'>
      <!-- <img src="/img/playgroundapi.png" alt=""> -->
      <div class="hero">
        <div class="image_preview_container">
          <div class="py-5 text-center hero-image">
            <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="text-white"><strong>A Playground of <span class="text-danger">Tea</span></strong></h1>
                <p class="lead text-muted">
                  This is a resource for Dogs. You can GET all tea's as dummy data with <code>/api/dogs</code>
                </p>
                <!-- <p>
                  <a href="#" class="btn btn-danger my-2">Show Me A Random API</a>
                  <a href="#" class="btn btn-secondary my-2">Docs</a>
                </p> -->
              </div>
            </div>
            </section>
          </div>
        </div>

        <div class="album py-5">
          <div class="container">
            <div class="row">
              <div class="col">
                <h2 class="text-white"><span class="text-danger">Dogs</span> API</h2>

                <p class="text-white text-muted">This is a resource to practice using REST APIs. It's a list of.. dogs.</p>
              </div>
              <h1>coming soon..</h1>
              <!-- <div class="col">
                <div class="card bg-dark">
                  <div class="card-header text-white text-center">Resource Fields</div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-white"><code>Title - </code><span class="text-muted">The Title Of The Tea</span></li>
                    <li class="list-group-item text-white"><code>Description - </code><span class="text-muted">Description Of The Tea</span></li>
                    <li class="list-group-item text-white"><code>Indgredients - </code><span class="text-muted">Whats In the Warm Beverage</span></li>
                    <li class="list-group-item text-white"><code>Image - </code><span class="text-muted">The Image Link Of The Tea</span></li>

                  </ul>
                </div>
              </div>
              <div class="col">
                <div class="card bg-dark">
                  <div class="card-header text-white text-center">API Endpoints</div>

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-white"><code>GET /api/tea - </code><span class="text-success">Publicly Available</span></li>
                    <li class="list-group-item text-white"><code>POST /api/tea - </code><span class="text-muted">Need API Key</span></li>
                    <li class="list-group-item text-white"><code>PUT /api/tea/id - </code><span class="text-muted">Need API Key</span></li>
                    <li class="list-group-item text-white"><code>DELETE /api/tea/id - </code><span class="text-muted">Need API Key</span></li>
                  </ul>
                </div>
              </div> -->
            </div>
          </div>
        </div>
    </main>
    <%- include('../partials/footer'); %>
  </div>

</body>

</html>